
/* nav bar css style */
#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar-brand{
  background-color: #ff4c68;
  font-size: 40px;
}
.nav-item{
  padding: 20px;
  font-size: 20px;
}
.col-lg-6 button{
  margin: 5px;
}
.positioning{
  position: relative;
}
.iphone-img{
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
h1{
  font-family: font-family: 'Montserrat-black', sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  margin: 30px 0 40px 0;
  font-weight: bold;
}
@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .iphone-img{
    transform: rotate(0);
    position: static;
    margin-top: 30px;
  }
}

/*features css style */
#features{
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;



}
#features .feature-box{
  padding: 5%;
}
.feature-box h3{
  font-family: "Montserrat" sans-serif;
  font-weight: bold;
}
.feature-box p{
  color: #8f8f8f;
}
.feature-box i{
  color: #ef9172;
  margin-bottom: 1rem;
}
.feature-box i:hover{
  color: #ff4c68;
}
/* testimentials*/
#testimonials{
  background-color: #ef9172;
  text-align: center;
}
#testimonials h2{
  color: #fff;
  font-family: "Montserrat-bold" , sans-serif;
  font-size: 3rem;
}
#testimonials img{
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}
/*press*/
#press{
  background-color: #ef9172;
  text-align: center;
  padding-bottom: 3%;
}
.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/*pricing section*/
#pricing{
  text-align: center;
  padding: 100px;
}
.col{
  padding: 20px;
}
/* call to action section*/
#cta{
  padding: 7% 15%;
  margin: 0 10%;
  background-color: #ff4c68;
  text-align: center;
}
#cta h3{
  font-family: "Montserrat" sans serif;
  color: #fff;
  line-height: 1.5;
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
}
#cta button{
  margin: 3px;
}
/*footer*/
#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;;
}
#footer a{
  color: #ff4c68;
  margin: 3px;
}
#footer p{
  margin-top: 7px;
  color: grey;
}
